.cardHome{
    height: 200px;
    display: flex;
    flex-direction: row;
}

.cardImg{
    width: 160px;
    border-radius: 50%;
    height: 160px;
    margin: auto;
    margin-left: 20px;
}

.cardInf{
    width: 200px;
    margin-left: 100px;
}

.fatherCard{
    width: 900px; 
    display: flex;
    border: 1px solid #8080804f;
    border-radius: 12px;
    background: #8080802b;
    transition-property: transform;
    transition-duration: 250ms;
}
.fatherCard:hover{
    transform: scale(1.03);
}

.btnCard{
    margin: 6px;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    transition-property: all;
    transition-duration: 250ms;
}
.btnCard:hover{
    background: #e2d7a9;
    border-radius: 13px;
    width: 45px;
    height: 45px;
}

.cardButton{
    margin-left: 240px;
    padding: 11px;
    display: flex;
    align-items: flex-start;
}